# JAY KUMAR PAL
#  SIMPLBYTE
# Task-01: Email Spam Detection
# Dataset: https://www.kaggle.com/datasets/balaka18/email-spam-classification-dataset-csv

# Importing the Libraries Required

In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string

# Loading Data Set (spam_ham_dataset.csv(5.5 MB)) from Kaggle

In [2]:
df= pd.read_csv("spam_ham_dataset.csv")

# knowing your dataset

In [3]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [5]:
df.tail()

,Unnamed: 0,label,text,label_num
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [6]:
df.shape

(5171, 4)

In [8]:
df.columns

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

# lets drop the duplicates

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
print(df.shape)

(5171, 4)

# lets check for the null values

In [12]:
print(df.isnull().sum())

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

# downloading the stopwords package

In [13]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [14]:
def process(text):
    nopunc = [char for char in text if char not in string.punctuation]
    nopunc = ''.join(nopunc)

    clean = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    return clean

In [16]:
# to show the tokenization
df['text'].head().apply(process)

0    [Subject, enron, methanol, meter, 988291, foll...
1    [Subject, hpl, nom, january, 9, 2001, see, att...
2    [Subject, neon, retreat, ho, ho, ho, around, w...
3    [Subject, photoshop, windows, office, cheap, m...
4    [Subject, indian, springs, deal, book, teco, p...
Name: text, dtype: object

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
message = CountVectorizer(analyzer=process).fit_transform(df['text'])

# spliting the data into 80% training and 20% testing

In [20]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(message, df['label'], test_size=0.20, random_state=0)

# To see the shape of the data

In [23]:
print(message.shape)

(5171, 50381)

# Creating and training the Naive Bayes Classifier

In [25]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(xtrain, ytrain)

In [26]:
print(classifier.predict(xtrain))
print(ytrain.values)

['ham' 'ham' 'ham' ... 'spam' 'ham' 'ham']
['ham' 'ham' 'ham' ... 'spam' 'ham' 'ham']

# Evaluating the model on the training data set

In [27]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
pred = classifier.predict(xtrain)
print(classification_report(ytrain, pred))
print()
print("Confusion Matrix: \n", confusion_matrix(ytrain, pred))
print("Accuracy: \n", accuracy_score(ytrain, pred))

              precision    recall  f1-score   support

         ham       0.99      0.99      0.99      2940
        spam       0.98      0.97      0.98      1196

    accuracy                           0.99      4136
   macro avg       0.99      0.98      0.98      4136
weighted avg       0.99      0.99      0.99      4136


Confusion Matrix:
 [[2918   22]
 [  30 1166]]
Accuracy:
 0.9874274661508704

# Predictions

In [28]:
print(classifier.predict(xtest))
#print the actual values
print(ytest.values)

['ham' 'ham' 'ham' ... 'ham' 'spam' 'ham']
['ham' 'ham' 'ham' ... 'ham' 'spam' 'ham']

# Evaluating the model on the training data set

In [29]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
pred = classifier.predict(xtest)
print(classification_report(ytest, pred))
print()
print("Confusion Matrix: \n", confusion_matrix(ytest, pred))
print("Accuracy: \n", accuracy_score(ytest, pred))

              precision    recall  f1-score   support

         ham       0.98      0.98      0.98       732
        spam       0.95      0.96      0.96       303

    accuracy                           0.97      1035
   macro avg       0.97      0.97      0.97      1035
weighted avg       0.97      0.97      0.97      1035


Confusion Matrix:
 [[718  14]
 [ 13 290]]
Accuracy:
 0.9739130434782609

# Accuracy =  0.9739130434782609